@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/mocha/3.0.0-1/mocha.css" rel="stylesheet" />

<div id="mocha"></div>
<div id="messages"></div>
<div id="fixtures"></div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/3.0.0-1/mocha.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/should.js/9.0.2/should.js"></script>
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/paylocityScripts");

    <script>
        mocha.setup("bdd");
    </script>
    <script>
        describe('Person', function () {
            it('should calculate totalCost without dependent without discount', function () {
                
                var personViewModel = new PersonViewModel("Marcus", "Perez", 1000, null, "a", "0.10");

                var paylocityViewModel = new PaylocityViewModel();
                paylocityViewModel.employees.push(personViewModel);
                paylocityViewModel.totalCost().should.equal(38.46153846153846);
            });
        });

        describe('Person', function () {
            it('should calculate totalCost without dependent with discount', function () {

                var personViewModel = new PersonViewModel("Animal", "House", 1000, null, "a", "0.10");

                var paylocityViewModel = new PaylocityViewModel();
                paylocityViewModel.employees.push(personViewModel);
                paylocityViewModel.totalCost().should.equal(34.61538461538461);
            });
        });

        describe('Person', function () {
            it('should calculate totalCost with dependent without discount', function () {

                var personViewModel = new PersonViewModel("Marcus", "Perez", 1000, null, "a", "0.10");
                var dependentViewModel = new PersonViewModel("Grape", "Ape", 500, personViewModel.personId(), "a", "0.10");

                var paylocityViewModel = new PaylocityViewModel();
                paylocityViewModel.employees.push(personViewModel);
                paylocityViewModel.employees.push(dependentViewModel);

                paylocityViewModel.totalCost().should.equal(57.69230769230769);
            });
        });

        describe('Person', function () {
            it('should calculate totalCost with dependent with discount (Both)', function () {

                var personViewModel = new PersonViewModel("Animal", "House", 1000, null, "a", "0.10");
                var dependentViewModel = new PersonViewModel("Ape", "Grape", 500, personViewModel.personId(), "a", "0.10");

                var paylocityViewModel = new PaylocityViewModel();
                paylocityViewModel.employees.push(personViewModel);
                paylocityViewModel.employees.push(dependentViewModel);

                paylocityViewModel.totalCost().should.equal(51.92307692307692);
            });
        });

        describe('Person', function () {
            it('should calculate totalCost with dependent with discount (Dependent)', function () {

                var personViewModel = new PersonViewModel("Marcus", "Perez", 1000, null, "a", "0.10");
                var dependentViewModel = new PersonViewModel("Ape", "Grape", 500, personViewModel.personId(), "a", "0.10");

                var paylocityViewModel = new PaylocityViewModel();
                paylocityViewModel.employees.push(personViewModel);
                paylocityViewModel.employees.push(dependentViewModel);

                paylocityViewModel.totalCost().should.equal(55.76923076923077);
            });
        });

    </script>
    <script>
        mocha.run();
    </script>
}